data-for-checking-if-candidate-terms-are-noun-phrase.txt
npSample.txt
npTerms.txt
parseProcessed.txt
posTerm.txt
result.txt
sample1.txt
sampleFile.txt
standfordOut.txt
stateParsedData.txt
stateTerms.txt
systemParsed.txt
tempTerms.txt
termsParsed.txt
terms.txt
test.txt
statefiles
